<div id="<%= dom_id job_application %>">
  <p>
    <strong>Company:</strong>
    <%= job_application.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= job_application.position %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job_application.status %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= job_application.location %>
  </p>

  <p>
    <strong>Salary range:</strong>
    <%= job_application.salary_range %>
  </p>

  <p>
    <strong>Current salary:</strong>
    <%= job_application.current_salary %>
  </p>

  <p>
    <strong>Skill focus:</strong>
    <%= job_application.skill_focus %>
  </p>

  <p>
    <strong>Applied through:</strong>
    <%= job_application.applied_through %>
  </p>

  <p>
    <strong>General notes:</strong>
    <%= job_application.general_notes %>
  </p>

  <p>
    <strong>Final outcome:</strong>
    <%= job_application.final_outcome %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= job_application.contact_name %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= job_application.contact_email %>
  </p>

  <p>
    <strong>Contact role:</strong>
    <%= job_application.contact_role %>
  </p>

</div>
