<div id="<%= dom_id interview_stage %>">
  <p>
    <strong>Job application:</strong>
    <%= interview_stage.job_application_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= interview_stage.name %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= interview_stage.order %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= interview_stage.status %>
  </p>

  <p>
    <strong>Scheduled date:</strong>
    <%= interview_stage.scheduled_date %>
  </p>

  <p>
    <strong>Completed date:</strong>
    <%= interview_stage.completed_date %>
  </p>

  <p>
    <strong>Follow up date:</strong>
    <%= interview_stage.follow_up_date %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= interview_stage.feedback %>
  </p>

</div>
